body{
  color: grey;
}

.Main{
  margin-left:100px;
  margin-top:200px;
 

}

.button{
 
  
  min-width:150px;
  min-height:150px;
  margin:0;
  padding:0;
  display:inline-block;
}

.Board{
  margin:0;
  padding:0;
}
